
.title{
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-30)/var(--unnamed-line-spacing-38) var(--unnamed-font-family-core-sans-d-55-bold);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-ffffff);
text-align: left;
font: normal normal normal 30px/38px Core Sans D 55 Bold;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
width: 328px;
height: 37px;
font-size: 26px;
}

.section {
  margin-bottom: 20px;
}

.video-list {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  justify-content: space-around;
}

.video-card {
  margin-right: 10px;
  margin-bottom: 10px;
}

.video-card img {
  height: 337px; 
  max-width: 100%;
}
.image-container {
  position: relative;
}

.image-text {
  position: absolute;
  top: 18%;
  left: 3%;
  letter-spacing: 1px;
  text-align: left;
  font: normal normal bold 44px/59px Uni Sans;
  letter-spacing: 0px;
  color: #FFFFFF;
  text-transform: uppercase;
  opacity: 1;
}
