* {
  margin: 0;
  padding: 0;
}
.header {
  font-size: 30px;
  font-weight: bold;
  font-family: Arial;
  padding-bottom: 15px;
}

.about-container {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  width: 50%;
  padding: 40px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 300;
  color: #ffffff;
}

.more-btn {
  display: flex;
  width: 15px;
  gap: 13px;
  align-items: center;
  font-weight: bold;
  font-family: Arial;
  padding-top: 15px;
  cursor: pointer;
}
