/* styles.module.css */

@keyframes shine {
  0% {
    background-position: 0;
  }
  60% {
    background-position: 600px;
  }
  100% {
    background-position: 600px;
  }
}
.h2Shine {
  color: pink;

  letter-spacing: 0.1em;
  cursor: pointer;
  text-transform: uppercase;
  background: linear-gradient(
    90deg,
    rgba(163, 56, 168, 1) 0%,
    rgba(236, 242, 19, 1) 35%,
    rgba(232, 11, 155, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 6s infinite linear;
}
