@font-face {
  font-display: swap;
  font-family: "Core Sans";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("assets/fonts/Core Sans D 45 Medium W01 Rg.woff2") format("woff2"),
    url("assets/fonts/Core Sans D 45 Medium W01 Rg.woff2") format("woff");
}

@font-face {
  font-family: "Reactive-3zz73";
  src: local("Reactive-3zz73"), url("./assets/fonts/Reactive-3zz73.ttf") format("truetype");
}

body {
  margin: 0;
  font-family: "Core Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}